<style>
    .notice {
        padding: 15px;
        background-color: #fafafa;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    }

    .notice-sm {
        padding: 10px;
        font-size: 80%;
    }

    .notice-lg {
        padding: 35px;
        font-size: large;
    }

    .notice-success {
        border-color: #80D651;
    }

        .notice-success > strong {
            color: #80D651;
        }

    .notice-info {
        border-color: #45ABCD;
    }

        .notice-info > strong {
            color: #45ABCD;
        }

    .notice-warning {
        border-color: #FEAF20;
    }

        .notice-warning > strong {
            color: #FEAF20;
        }

    .notice-danger {
        border-color: #d73814;
    }

        .notice-danger > strong {
            color: #d73814;
        }
        a {
            text-decoration:none !important;
        }
</style>

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "/Home/GetDemoData",
            success: function (res) {
                $("#cases").html(res);
            },
            dataType: "html",
            processData: false,
            async: true
        });
    })
</script>

<div class="row">
    <div class="col-md-3">
        <div>
            <h3>Sources</h3>
            <div id="cases">
                <div class="notice notice-info">
                    <strong>Notice</strong> notice-info
                </div>
                <div class="notice notice-info">
                    <strong>Notice</strong> notice-info
                </div>
                <div class="notice notice-info">
                    <strong>Notice</strong> notice-info
                </div>
                <div class="notice notice-info">
                    <strong>Notice</strong> notice-info
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div style="height: 400px; background-color:lightblue;">
            <h2>Hier kommt der Graph hin...</h2>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Relevant decisions</h3>
    </div>
</div>
